$bg-card-color: #FFD503;
$basic: #000;

.card {
	background-color: $bg-card-color;
	max-width: 150px;
	heigth: auto;
	word-wrap: break-word;

	>button {
		color: $basic;
		cursor: pointer;
		border: none;
		background-color: inherit;
	}

}